*{margin:0;padding:0;}
/*轮播图效果*/
@media (min-width: 1200px){
    .container {
        max-width:100%;
    }
}
/*修改左右箭头样式*/
.carousel-control-next,.carousel-control-prev{
    width:4%;height:20%;top:40%;
    background-color:#aaa;border-radius:0.25rem;
    }
/*修改指示器样式*/
.carousel-indicators li{
    width:0.8rem;height:0.8rem;
    border-radius:50%;
    background:#fff;
    margin:0 6px;
    }
/*修改指示器颜色*/
.carousel-indicators .active{
    background:#0aa1ed;
    }
.container{
    padding:0;
    }
/*第二，三图效果*/
.l_r_img{
    width:1200px;
    margin: 50px auto 0px;
    display:flex;
}
.l_r_img #left_img,
.l_r_img #right_img{
    width:590px;
    height:334.8px;
    border:1px solid #ddd;
}
.l_r_img #left_img>img,
.l_r_img #right_img>img{
    width:588px;
    height: 328.8px;
    padding: 6px;
    transition: all 1s linear;
}
.l_r_img #left_img{
    margin-right: 10px;
}


















