*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*�ֲ�ͼЧ��*/
@media (min-width: 1200px){
    .container {
        max-width:100%;
    }
}
/*�޸����Ҽ�ͷ��ʽ*/
.carousel-control-next,.carousel-control-prev{
    width:4%;
    height:20%;
    top:40%;
    background-color:#aaa;border-radius:0.25rem;
    }
/*�޸�ָʾ����ʽ*/
.carousel-indicators li{
    width:0.8rem;
    height:0.8rem;
    border-radius:50%;
    background:#fff;
    margin:0 6px;
    }
/*�޸�ָʾ����ɫ*/
.carousel-indicators .active{
    background:#0aa1ed;
    }
.container{
    padding:0;
    }
/*�ڶ�����ͼЧ��*/
.l_r_img{
    width:1200px;
    margin: 50px auto 0px;
    display:flex;
    justify-content: space-between;
}
.l_r_img #left_img,
.l_r_img #right_img{
    width:590px;
    height:334.8px;
    border:1px solid #ddd;
}
.l_r_img #left_img>img,
.l_r_img #right_img>img{
    width:588px;
    height: 328.8px;
    padding: 6px;
}
.l_r_img #left_img{
    position: relative;
    left:-200px;
    opacity: 0;
    transition:all 1s linear;
    /* animation:huayu-left 2s ease-out 1 ; */
}
.l_r_img #right_img{
    position: relative;
    right:-200px;
    opacity: 0;
    transition: all 1s linear;
    /* animation:huayu-right 2s ease-out 1; */
}
/* 动画样式 */
/* 左侧 */
/* @keyframes huayu-left{
    0%{position: relative; left:-180px;opacity: 0; }
    100%{position:relative;left: 0;opacity: 1;}
}
/* 右侧 */
/* @keyframes huayu-right{
    0%{position: relative;right:-180px;opacity: 0;}
    100%{position: relative;right:0;opacity:1;}
} */
/* 今日上新样式 */
.new_pro{
    width:1200px;
    margin:0 auto;
    padding-top:50px;
    position:relative;
}
.new_pro>.jr_new{
    display: inline-block;
    font-size: 20px;
}
.jr_new>span{
    border-bottom: 2px solid rgba(187,187,187,0);
    border-left: 2px solid rgba(187,187,187,0);
    transition: border 0.5s linear;
}
.jr_new>em{
    border-top: 2px solid rgba(187,187,187,0);
    border-right: 2px solid rgba(187,187,187,0);
    transition: border 0.5s linear;
}
.new_pro>.about_more{
    
    display:inline-block;
    padding-bottom:7px;
}
.about_more>a{
    position: absolute;
    top:51px;
    right:20px;
    width:77px;
    color:#373a41;
    display:inline-block;
    border:1px solid #a5a5a5;
    font-size: 12px;
    text-decoration:none;
    padding:6px 8px;
}
hr{
    width:1200px;
    border:0.5px solid #111;
}
.about_more>a:hover{
    color:#fff;
    background:#000;
}
.jr_new:hover span{
    border-bottom:2px solid #bbb;
    border-left:2px solid #bbb;
}
.jr_new:hover em{
    border-top:2px solid #bbb;
    border-right:2px solid #bbb;
}
/* 今日上新的商品样式 */
.huayi_02{
    width: 1200px;
    height:400px;
    margin-top:70px;
    display:flex;
    justify-content:space-between;
    position: relative;
}
.left_huayi_1{
    width:22%;
    border:1px solid #e5e5e5;
    text-align: center;
    position: absolute;
    top:437px;
    opacity: 0;
    box-shadow: 0;
    transition: all 1s linear;
    margin:5px 8px;
    /* animation: up_hua 1s ease-out 1; */
}
/* 动画过度向上出现的效果 */
/* @keyframes up_hua{
    0%{transform:translateY(400px);visibility:hidden;}
    100%{transform:translateY(0);visibility: visible;}
} */

.left_huayi_1 a img{
    transform:scale(1);
    width:237px;
    height:237px;
    transition: all 0.5s linear;
} 
.left_huayi_1:hover{
    box-shadow: 3px 5px 5px 5px rgba(20,1,0,0.1);
    top:-10px;
}
.left_huayi_1:hover a>img{
    transform:scale(1.1);
}

.font_huayi{
    width:100%;
    display:inline-block;
    padding-top:20px;
    border:0;
    transition:all 2s linear;
}
.left_huayi_1 p>a{
    text-decoration: none;
    color:#707070;
    font-size: 15px;
}
/* 动画商品中间横线循环效果 */
@keyframes border_tra{
    0%{border-bottom:1px solid #c5cbd8;}
    50%{border-bottom: 1px solid #000}
    100%{border-bottom:1px solid #9c9fa7; }
}
.left_huayi_1:hover .font_huayi{
    /* border-bottom:1px solid #373a41; */
    animation:border_tra 2s ease-out infinite;
}
.huayi_02 p:last-child{
    font-size: 16px;
    padding:15px 0;
    color:#000;
}
/* 大图+倒计时 */
.dis_tape{
    width:1200px;
    margin:0 auto;
}
#left_img_djs,#right_img_djs{
    width:49%;
    display:inline-block;
    margin-top:40px;
    text-align: center;
}
#left_img_djs>img,#right_img_djs>img{
    width:100%;
}
#left_img_djs{
    margin-right: 16px;
}
#left_img_djs>p,#right_img_djs>p{
    border:1px solid #ddd;
    background:#f7f7f7;
    letter-spacing: 3px;
}

#left_img_djs{
    position: relative;
    left:-200px;
    opacity: 0;
    transition:all 1s linear;
    /* animation:huayu-left 2s ease-out 1 ; */
}
#right_img_djs{
    position: relative;
    right:-200px;
    opacity: 0;
    transition: all 1s linear;
}
/* 倒计时样式 */
.time-item strong{
	background:rgba(197,201,204,.5);
	color:#000;
	line-height:49px;
	font-size:36px;
	font-family:Arial;
	padding:0 10px;
	margin-right:10px;
	border-radius:5px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
    }
/* 浪漫你我左右样式 */
/* .dd_z{
    width:1200px;
    margin:0 auto;
    margin-top:50px;
    position: relative;
} */
/* .dd_z .jr_new{
    font-size: 20px;
}
.dd_z .about_more>a{
    position:absolute;
    top:1px;
} */
.le_ri_flow{
    width:1200px;
    margin:0 auto;
    margin-top:50px;
    display:flex;
}
.le_ri_flow>div{
    width:49%;
    display: inline-block;
}
#le_ri_low video{
    width:100%;
}
#le_ri_low{
    margin-right: 16px;
    position: relative;;
    opacity:0;
    left:-200px;
    transition:all 1s linear;
}

#le_ri_right{
    height:323.39px;
    background: #f7f7f7;
    position: relative;;
    opacity:0;
    right:-200px;
    transition:all 1s linear;
}
#le_ri_right>img{
    margin-left: 50px;
    padding:70px 80px 0 0;
}
#le_ri_right i{
    font-size: 30px;
    color:#3ddd0d;
    position: absolute;
    top:90px;
    letter-spacing: 5px;
}
#le_ri_right p{
    font-size: 15px;
    line-height: 2em;
    padding:2px 21px;
    color:rgb(141,141,141);
}
#le_ri_right p:nth-child(3){
    margin-top:40px;
}
/* 装点家园 */
.zhuangdian_home{
    width: 100%;
    height: 595px;
    overflow: hidden;  
    text-align: center;  
}
.zhuangdian_home .zhuangdian_home_1{
    width:22%;
    border:0;
    transition:all .5s linear;
} 
.bottom_top{
    display:flex;
    justify-content: space-between;
    transform: translateY(595px); 
    transition: all 1s linear;
}
/* 第一,三个样式 */
.home_1_1{
    padding-bottom: 101px;
}
.home_1_2>a{
    color:#707070;
    font-size: 13px;
    text-decoration: none;
    
}
.home_1_2>p{
    color:#000;
    font-size: 24px;
    padding:20px 0;
    font-weight: 500;
}
.home_1_2{
    margin-top: 60px;
    padding-bottom:80px; 
}
/* 第二，四个样式 */
.home_2_1>a{
    color:#707070;
    font-size: 13px;
    text-decoration: none;
    
}
.home_2_1>p{
    color:#000;
    font-size: 24px;
    padding:20px 0;
    font-weight: 500;
}
.home_2_1{
    margin-top: 60px;
    padding-bottom:80px;
}
.home_2_2{
    padding-bottom: 101px;
}
.zhuangdian_home_1 img{
    width:90%;
    height:90%;
    text-align: center;
    transition: all 0.5s linear;
}
/* 鼠标悬停效果 */
.zhuangdian_home_1:hover{
    transform: scale(0.9);
    border: 1px solid #dddddd;
    box-shadow:-8px 10px 2px #f7f7f7;
}
.zhuangdian_home_1:hover img{
    transform: scale(1.1);
}
/* 底部文字与图片 */
.bo-fo-to{
    width:1200px;
    margin:0 auto;
    overflow:hidden;
    display: flex;
    justify-content: space-between;
}
.bottom_font_img{
    width: 60%;
    transform: translateX(-900px);
    transition: all 1.5s linear;
}
.bottom_right_img{
    width:38%;
}
.bottom_d1{
    width:36%;
}
.bottom_d2{
    width:61%;
}
.bottom_d1>a{
    width:100%;
}
.bottom_d1 a>img{
    width:100%;
    padding:5px 0 8px 5px;
}
.bottom_d2>a{
    display:inline-block;
    margin-top:30px;
    text-decoration: none;
    color:#333;
}
.bottom_d2 p:nth-child(2){
    color:#999;
    font-size: 13px;
    padding: 10px 0 20px;
    margin-bottom: 0;
}
.bottom_d2 p:last-child{
    color:#777;
    font-size: 13px;
}
.bottom_top_img{
    width:100%;
    display: flex;
    justify-content: space-between;
    border:1px solid #ddd;
    margin-bottom:10px;
}
/* .bottom_right_img>img{
    height:430px;
    width:100%;
} */
.bottom_right_img{
    display:flex;
    justify-items: center;
    transform: translateX(900px);
    transition: all 1.5s linear;
}
.bottom_right_img>video{
    width:100%;
}
/* 底部商品服务 */
.foot_service{
    width:1200px;
    overflow: hidden;
    margin:0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.foot_service_font{
    width:24%;
    margin-top:50px;
    margin-bottom:70px;
}
.foot_service_font>div{
    display:inline-block;
    position:relative;
    top:16px;
}
.foot_service_font>div p:first-child{
    font-size: 16px;
    color:#494949;
}
.foot_service_font>div p:last-child{
    font-size: 12px;
    color:#bababa;
    padding:5px 0;
}
.foot_service_font>div p{
    margin:0;
    padding:0;
    text-align: left;
}
#foot_d1{
    transform: translateY(150px);
    transition: all .5s linear;
}
#foot_d2{
    transform: translateY(150px);
    transition: all .9s linear;
}
#foot_d3{
    transform: translateY(150px);
    transition: all 1.3s linear;
}
#foot_d4{
    transform: translateY(150px);
    transition: all 1.6s linear;
}
/* 侧边导航栏 */
.right_center{
    position: fixed;
    right:44px;
    top:490px;
    width:120px;
    overflow: hidden;
    border-right: 2px solid #000;
    display:flex;
    opacity:0 ;
    justify-items: center;
    transition:  all .5s linear;
}
.right_center>ul{
    list-style: none;
    margin:0;
}
.right_center>ul>li{
    transform: translateX(83px);
    display:flex;
    height:30px;
    line-height: 30px;
    justify-content:left;
    border: 1px solid #13191d;
    background:rgba(224,224,224,0.5);
    margin:5px 0;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
    transition:all .4s linear; 
}
.right_center ul li>a{
    color: #707070;
    text-decoration: none;
    display: inline-block;
    width:80px;
    text-align: center;
}
ul>li .img_xin{
    background-image: url(../img/love.png);
    width:32px;
    height:28px;
    transition:all .3s linear;
}
.right_center>ul>li:hover{
    transform: translateX(0);
    background:#0ff;
}
.right_center>ul>li:hover .img_xin{
    background-image: url(../img/love2.png);
}