#top{width:100%;height:45px;
	background:#e0e0e0;
}
#top-header1{width:450px;height:45px;
	font-size:12px;
	color:#757575;
	line-height:45px;
	float:left;
	margin-left:150px;
}
#top-header1 span{display:inline-block;
	}
#top-header1 span{margin:0 40px 0 10px;
	}
#top-header2{width:140px;height:45px;
	float:left;
	position:relative;
	left:800px;
}
#top-header2 a img{width:22px;
	margin:10px 20px 0 0;
}
#header_main{width:100%;height:175px;
	background:#f2f2f2;
}
#header_main #logo{width:1200px;
	padding:15px 0;
	margin:0 auto;
	display:flex;
	justify-content:center;
}
#nav{width:1200px;
	display:flex;
	justify-content:center;
	margin:20px auto;
	height:20px;
	position: relative;
}

#nav span a{
	width:150px;
	display:inline-block;
	text-decoration:none; 
	font-size:13px;
	color:#707070;
	text-align:center;
}

/* 下拉选菜单 */
.dropdown_one{
	position: absolute;
	top:20px;
	left:266px;
	display:none;
	border:1px solid #e0e0e0;
	background:rgba(240,240,240,.5);
	border-radius:3px;
}
#nav:hover .dropdown_one{
	display:block;
}

.dropdown_one p a{
	font-size: 13px;
	color:#757575;
}