*{margin:0;padding:0;}
/*�ֲ�ͼЧ��*/
@media (min-width: 1200px){
    .container {
        max-width:100%;
    }
}
/*�޸����Ҽ�ͷ��ʽ*/
.carousel-control-next,.carousel-control-prev{
    width:4%;height:20%;top:40%;
    background-color:#aaa;border-radius:0.25rem;
    }
/*�޸�ָʾ����ʽ*/
.carousel-indicators li{
    width:0.8rem;height:0.8rem;
    border-radius:50%;
    background:#fff;
    margin:0 6px;
    }
/*�޸�ָʾ����ɫ*/
.carousel-indicators .active{
    background:#0aa1ed;
    }
.container{
    padding:0;
    }
/*�ڶ�����ͼЧ��*/
.l_r_img{
    width:1200px;
    margin: 50px auto 0px;
    display:flex;
}
.l_r_img #left_img,
.l_r_img #right_img{
    width:590px;
    height:334.8px;
    border:1px solid #ddd;
}
.l_r_img #left_img>img,
.l_r_img #right_img>img{
    width:588px;
    height: 328.8px;
    padding: 6px;
}
.l_r_img #left_img{
    position: relative;
    left:-190px;
    opacity: 0;
    transition:all 1s linear;
}
.l_r_img div:first-child{
    left: 0;
    opacity: 1;
}
.l_r_img #right_img{
    position: relative;
    right:-210px;
    opacity: 0;
    transition: all 1s linear;
}
.l_r_img div:last-child{
    right: 0;
    opacity: 1;
}

