*{
    margin: 0;
    padding: 0;
}
/* 最外层框架 */
.offline_tamp{
    width:1200px;
    margin:40px auto;
    display:flex;
}
.offline_tamp .left_map{
    width:60%;
    padding: 40px;
    margin:103px 20px 0 80px;
}
.left_map p{
    color:#696969;
    font-size: 13px;
}
.left_map p{
    padding: 4px; 
}
form{
    margin-top:40px;
}
form p input,textarea{
    width:45%;
    height:35px;
    border:1px solid rgb(242,242,242);
    background: #e0e0e0;
    margin-right: 5px;
    padding: 2px;
}
textarea{
    width:655px;
    height:122px;
}
button{
    background:#000;
    color:#fff;
    width:110px;
    height:30px;
    border:0;
    margin-left:4px;
}
/* 右边地图框 */
.map-right{
    width:262px;
    border:1px solid #ddd;
    text-align: center;
    color:#696969;
}
.first-p{
    margin-top:30px;
    font-size: 18px;
}
.next-p{
    font-size: 12px;
    padding: 5px 0 15px;
}
#d2{
    position: relative;
    top:10px;
}
.next-p2{
    font-size: 16px;
}
#d3{
    margin-bottom:50px;
}